@charset "utf-8";
/* CSS Document */

body {
	position: relative;
	overflow-x: hidden;
}
.all {
	position: relative;
	left: 0;
	transition: 0.5s;
}
.all.open {
	left: -150px;
}
.burger {
	width: 50px;
	height: 21px;
	margin-left: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.burger-line {
	width: 50px;
	height: 3px;
	border-radius: 10px;
	background-color: #000000;
}
.main-menu {
	width: 150px;
	position: absolute;
	right: -150px;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: #333;
	transition: 0.5s;
}
.main-menu.open {
	right: 0;
}
.main-menu.open {
	transform: translate(0, 0);
}
